body{
font-family: "fira-sans-2";
}

.homepage #logo {
  font-family: "sutro-shaded-gradient", sans-serif;
  font-size: 225%;
}

h4 {
  font-family: "arial";
}

#topban h2 {
  font-family: "voluta-script-pro";
  font-size: 4em;

}

body {
  background-image: url("https://ru.yeed.me/system/pictures/images/000/081/579/original/motto.net.ua-58385.jpg?1439200091");
  background-size: cover;
  color: white;
  }
  
  

.homepage #center .ban{
  background-color: rgba(228, 200, 119, 0.38);
  height:100%;
  margin-top: 0;
  margin-bottom: 0;
}
 
 #leftbar{
   background-color:rgba(112, 210, 232, 0.38);
   padding-top: 30px;
    padding-bottom: 30px;
 }
 
 .homepage #rightbar {
      padding-top: 30px;
    padding-bottom: 30px;
 }
 
  .w1024.homepage #pagecontainer {
    background:rgba(235, 203, 239, 0.51);
        padding-left: 20px;
          }
          
          .homepage #pagecontainer{
            padding: 0;
          }
  
  .homepage .col ul{
    background-color: #633535;
  }
  
    a:visited,
  a:active,
  a:link{
    text-decoration: none;
    color: white;
  }
  
  a:hover, {
      text-decoration: none;
    color: blue;
  }
  
  .homepage footer {
    background-color: rgb(0,2,139);
  }

.cal td {
    background: #339;}
    
    .cal td.today {
    background: #C30;}
    
    .homepage #postlks #post {
    background-color: #e5c8f3;}
    
    #topban .sublinks li {
    background: rgb(2, 232, 138);}
    
    #topban .sublinks a {
    background: #767ce4;}
    
    .homepage #rightbar h5 {
    color: #000;}
    
    .linklike {
    color: #C30;}

.homepage #rightbar h5 {
    background: rgb(222, 192, 249, 0.46);
  padding-right: 4px;
  padding-left: 4px;
}
